<div class="row">
  <div>
    <app-alert [message]="error" *ngIf="error" (closeAlert)="onHandleError()"></app-alert>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="col-sm-6">
      <img src="../../assets/dessert.jpg" alt="tasty dessert pic" class="img-responsive">
      <h1 class="title">A <span class="logo-box">Box</span> to keep Your recipes</h1>
      <h3 class="leader">Share them with other Recipe<span class="logo-box">Box</span> users!</h3>
      <button class="btn btn-success btn-lg cta" type="button" (click)="isLoginMode=false">Sign Up Now</button>
    </div>
    <hr>
    <div class="col-sm-6">
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <h3 *ngIf="!isLoginMode" class="signup">Sign Up Now!</h3>
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="email" id="email" class="form-control" ngModel name="email" required email>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6">
        </div>
        <div>
          <button class="btn btn-primary" type="submit"
                  [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sign Up'}}</button>
          |
          <button class="btn btn-secondary" type="button" (click)="onSwitchMode()">Switch
            to {{isLoginMode ? 'Sign Up' : 'Login'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
