.img-responsive {
  max-height: 400px;
  border: white 1px solid;
}

.title {
  color: white;
}

.leader {
  color: #f6f6f6;
  font-family: "Lucida Console", Monaco, monospace;
}

.logo-box {
  color: black;
  background-color: #f8f300;
}

.signup {
  color: #f6f6f6;
  font-family: "Lucida Console", Monaco, monospace;
}

.cta {
  margin-top: 1rem;
}

