body {
  font-family: Helvetica, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/victoria-shes-Qa29U4Crvn4-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 40px;
}

label {
  color: #ffffff;
}
